@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Estilos a la barra de desplazamiento para edge, chrome y safari */
body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: #a0a0a0;
}

body::-webkit-scrollbar-thumb {
    background-color: #131314;
    border-radius: 50px;
}

body:hover::-webkit-scrollbar-thumb{
    background-color: #000;
}
/* Fin de estilos a la barra de desplazamiento */

/* Estilos a la barra de desplazamiento para firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 #000000;
}
/* Fin de estilos a la barra de desplazamiento para firefox */

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 300px;
    min-height: 300px;
}

#sct-slider-catalogo{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.2),
        rgb(0,0,0,0.2)
    ), url('../img/logos/img-publicaciones-slider.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

#sct-slider-catalogo>h1{
    text-transform: uppercase;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sct-articulos {
    padding: 70px 0px 0px 0px;
}

#sct-articulos .h3-titulo-catalogo {
    font-size: 3em;
    text-align: center;
    padding-bottom: 50px;
}

#sct-articulos .div-catalogo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 0px 50px 0px;
}

#sct-articulos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#sct-articulos li>img {
    margin: 0 1.6em 0 0;
    border: 1px solid #c4c4c4;
    border-radius: 100%;
    max-width: 200px;
    min-height: 200px;
    transition: all 0.3s ease-in-out;
}

#sct-articulos li>img:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-color: rgb(58, 58, 58);
}

#sct-articulos .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 20px;
    background-image: linear-gradient(0deg,
            rgb(0, 0, 0, 0.5),
            rgb(0, 0, 0, 0.5)), url("../img/logos/img-publicaciones-fondo.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sct-articulos .item-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#sct-articulos .item-art {
    border-radius: 15px;
    background-color: #fff;
    margin: 20px;
    padding: 35px 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#sct-articulos .item-art:hover {
    transform: scale(1.03);
}

#sct-articulos .item-art .p-icon-heart {
    margin: 0px;
}

#sct-articulos .item-art .p-icon-heart>i {
    margin: 0px;
    float: right;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}

#sct-articulos .item-art .p-icon-heart>i:hover {
    transform: scale(1.1);
    cursor: pointer;
    content: "Agregar a tus favoritos";
}

.p-icon-heart.selected{
    color: #ff0000;
}

#sct-articulos .item-art h3 {
    margin: 0px 0px 55px 0px;
}

#sct-articulos .item-art>span,
.item-art>a {
    font-size: 22px;
    padding: 8px;
    margin: 5px;
}

#sct-articulos .item-art>span {
    font-weight: 700;
}

#sct-articulos .item-art>a {
    text-decoration: none;
    color: #000;
    background-color: rgb(155, 247, 64);
}

#sct-articulos .contenedor-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: row;
    max-height: 45px;
}

/* Mobile */
@media(max-width: 1350px) {
    #sct-slider-catalogo{
        padding: 20% 0px;
    }

    #sct-slider-catalogo > h1{
        font-size: 25px;
    }

    #sct-articulos .div-catalogo {
        flex-direction: column;

    }

    #sct-articulos ul {
        justify-content: center;
    }

    #sct-articulos li>img {
        max-width: 100px;
        min-height: 100px;
        margin: 0 10px;
        transition: none;
    }

    #sct-articulos li>img:hover {
        transform: none;
    }

    #sct-articulos .item-art{
        transition: none;
        padding: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sct-articulos .item-art:hover{
        transform: none;
    }

    #sct-articulos .item-art>img{
        max-width: 180px;
        min-height: 180px;
    }

    #sct-articulos .item-art .p-icon-heart>i{
        transition: none;
    }

    #sct-articulos .item-art .p-icon-heart>i:hover{
        transform: none;
    }
}